/* Contact.css */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #000; /* Dark background for techy look */
    color: #ffffff;
}

.main-content {
    flex: 1;
    padding: 40px;
    
    margin: 0 auto;
}

h1 {
    color: #8e44ad; /* Purple for heading */
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contact-form {
    background: #1e2a43; /* Dark blue background for form */
    border-radius: 10px;
    margin-left:auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
    padding-right:20px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #3498db; /* Blue for labels */
    margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;

    border: 1px solid #3498db; /* Blue border for input fields */
    border-radius: 5px;
    background: #ffffff; /* White background for fields */
    color: #333333;
    font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #8e44ad; /* Purple border on focus */
    outline: none;
}

.submit-button {
    display: inline-block;
    background: #8e44ad; /* Purple background for button */
    color: #ffffff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-button:hover {
    background: #732d91; /* Darker purple on hover */
}

@media screen and (max-width: 768px) {
    .main-content {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
    }

    .submit-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
