.hero {
  display: flex;
  justify-content: space-between; /* Ensure space between the left and right images */
  align-items: center;            /* Align items at the center vertically */
  padding: 50px 0;
  text-align: center;
  position: relative;
}

.hero-img {
height: auto;
}

.left,
.right-container {
  flex: 1; /* Allow the left and right containers to take up equal space */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.right-container {
  flex-direction: column; /* Stack the images vertically */
  align-items: flex-end;
  margin-right: 50px; 
  margin-top: 100px; /* Align images to the right */
}

.hero-text {
  flex: 2; /* Take up more space for the text content */
  margin: 0 20px; /* Add margin on the sides to separate from images */
  z-index: 1;
  color: white;
}

.hero-text h1 {
  font-size: 5rem;
  line-height: 1.2;
  font-family: sans-serif;
}

.highlight {
  color: orange;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.email-subscribe {
  margin-top: 20px;
}

.email-subscribe input {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.email-subscribe .cta-button {
  padding: 10px 20px;
  border: none;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

  