.Home {
  background-color: black;         /* Add some padding around the content */
}

.HeroSection {
  display: block;         /* Make sure each component is displayed as a block element */
  width: 100%;            /* Ensure each component takes up the full width of the container */
  margin-bottom: 100px; 
     /* Add some space below each component to prevent overlap */
}
.VideoPlayer{
  display: block;         /* Make sure each component is displayed as a block element */
  width: 100%;            /* Ensure each component takes up the full width of the container */
  margin-bottom: 20px;    /* Add some space below each component to prevent overlap */
}

